<% layout("../Layouts/boilerPlate") -%>
        
<h3 class="pt-3 ">All Listings</h3>
    <div class="row flex-row justify-content-center flex wrap ">
        <% for(let Listing of allListings){ %>
      <div class="card p-0 border-0 m-3 mb-4 flex-wrap" style="width: 18rem;">
            <img src="<%= Listing.image.url %>" class="card-img-top" style="height: 20rem; border-radius: 10px;" alt="<%= Listing.image.filename %>">
        <div class="card-body">
            <h4 class="card-title">
            <%= Listing.title %> <br>
             &#8377;<%=Listing.price.toLocaleString("en-IN")%> 
           </h4>
                <p class="card-text" style="display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis;">
                  <%= Listing.description %>
                </p>
                <a href="/listings/<%=Listing.id%>" class="btn btn-primary">Go to Listing</a>
        </div>
      </div>
      <% } %>
    
    </div>

