<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
</head>
<body>
    <h3><%= listings.title %></h3>
    <p><%= listings.description %></p>
    <p><%= listings.location %></p>
    <p>&#8377 <%= listings.price.toLocaleString("en-IN") %></p>
    <p><%= listings.country %></p>
    <!-- <a href="/listings">Back to all listings</a>
    <a href="/listings/<%= listings.id %>/edit">Edit</a>
    <form action="/listings/<%= listings.id %>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form> -->
</body>
</html>